<div class="abc">
    <h2 style="text-align:center; margin-bottom:15px;">Register here</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name" />
            <small class="text-danger" *ngIf="
              userForm.get('name')?.invalid &&
              userForm.get('name')?.touched
            ">Please enter name</small>
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" formControlName="email" />
            <small class="text-danger" *ngIf="
              userForm.get('email')?.invalid &&
              userForm.get('email')?.touched
            ">Please enter valid email</small>
        </div>

        <div class="mb-3">
            <input class="form-check-input" type="radio" value="Male" formControlName="gender" />
            Male
            <input class="form-check-input" type="radio" value="Female" formControlName="gender" />
            Female
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" class="form-control" formControlName="password" id="password">
        </div>

        <button [disabled]="!userForm.valid" type="submit" class="btn btn-sm btn-primary">
            Submit
        </button>
    </form>
</div>