<div class="container">
    <div class="header">
        <h2>Product List</h2>
        <div class="form-group">
            <input placeholder="Search" type="text" class="form-control" [(ngModel)]='productsearch'>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th> Id </th>
                <th> Name </th> 
                <th> Description </th>
                <th> Unit Price </th>
                <th> Quantity</th>
                <th> Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products | searchProduct : productsearch">
                <td> {{ product.id }} </td>
                <td> {{ product.name }} </td>
                <td> {{ product.description }} </td>
                <td> {{ product.unitPrice }} </td>
                <td> {{ product.quantity }} </td>
                <td>
                    <button (click) = "modifyProduct(product.id)" class="btn btn-sm btn-info" style="margin-right: 10px;"> Modify </button>
                    <button (click) = "removeProduct(product.id)" class="btn btn-sm btn-danger" style="margin-right: 10px;"> Remove </button>                
                </td>
            </tr>
        </tbody>
    </table>
</div>